@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  display: block;
  background-color: #100e1d;
}
body::-webkit-scrollbar-thumb {
  background-color: #6e707a;
  border-radius: 4px;
}
body::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:active {
  background-color: #585676;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Round buttons component */
.btn {
  @apply h-16 w-16 rounded-[50%] shadow-lg text-[1.8rem] font-bold duration-150;
}
.btn--locator {
  @apply bg-btn-bg1  grid justify-center items-center hover:bg-btn-bg1-h;
}
.btn--celcius {
  @apply bg-primary-text text-dark-text hover:bg-primary-text-h;
}
.btn--farenheit {
  @apply bg-btn-bg2 text-primary-text hover:bg-btn-bg2-h;
}
.btn--wind {
  @apply bg-btn-bg2  grid justify-center items-center h-12 w-12;
}

/* Days component */
.day {
  @apply bg-secondary-bg p-6 flex flex-col text-center;
}
.day__img {
  @apply h-[6.2rem] mt-1 mb-auto self-center;
}
.day__temp {
  @apply flex justify-between text-[1.6rem];
}

/* Search result */
.result {
  @apply h-24 px-3 w-full flex justify-between items-center border border-transparent hover:border-secondary-text cursor-pointer duration-150;
}

.result:not(:last-child) {
  @apply mb-4;
}

.result-svg {
  @apply fill-secondary-text h-7 w-7 opacity-0 group-hover:opacity-100 duration-150;
}

/* Custom CSS  */
.colorized {
  filter: brightness(0) saturate(100%) invert(12%) sepia(35%) saturate(802%)
    hue-rotate(195deg) brightness(98%) contrast(87%);
}

.input-w {
  width: calc(100% - 3rem);
}

/* Search component functionality  */
#search-open:checked ~ aside {
  @apply translate-x-0;
}

/* Loading animation  */
/* HTML: <div class="loader"></div> */
.loader {
  width: 100px;
  --b: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%, #e7e7eb) content-box;
  mask: repeating-conic-gradient(#0000 0deg, #000 1deg 20deg, #0000 21deg 36deg),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - var(--b) - 1px),
      #000 calc(100% - var(--b))
    );
  -webkit-mask: repeating-conic-gradient(
      #0000 0deg,
      #000 1deg 20deg,
      #0000 21deg 36deg
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - var(--b) - 1px),
      #000 calc(100% - var(--b))
    );
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: l4 1s infinite steps(10);
}
@keyframes l4 {
  to {
    transform: rotate(1turn);
  }
}

.error {
  max-width: 40rem;
  margin: 0 auto;
  padding: 5rem 4rem;
  display: flex;
}
.error svg {
  height: 3rem;
  width: 3rem;
  fill: #ffec65;
  transform: translateY(-0.3rem);
}
.error p {
  margin-left: 1.5rem;
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 600;
}
