@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  display: block;
  background-color: #100e1d;
}
body::-webkit-scrollbar-thumb {
  background-color: #6e707a;
  border-radius: 4px;
}
body::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:active {
  background-color: #585676;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Round buttons component */
.btn {
  @apply h-16 w-16 rounded-[50%] shadow-lg text-[1.8rem] font-bold duration-150;
}
.btn--locator {
  @apply bg-btn-bg1  grid justify-center items-center hover:bg-btn-bg1-h;
}
.btn--temp-active {
  @apply bg-primary-text text-dark-text hover:bg-primary-text-h;
}
.btn--temp-unit {
  @apply bg-btn-bg2 text-primary-text hover:bg-btn-bg2-h;
}
.btn--wind {
  @apply bg-btn-bg2  grid justify-center items-center h-12 w-12;
}

/* Days component */
.day {
  @apply bg-secondary-bg p-6 flex flex-col text-center cursor-pointer;
}
.day__img {
  @apply h-[6.2rem] mt-1 mb-auto self-center;
}
.day__temp {
  @apply flex justify-between text-[1.6rem];
}

/* Days Skeleton loading component */
.day--l {
  @apply bg-secondary-bg p-6 flex flex-col text-center border border-[#26294b] rounded shadow animate-pulse dark:border-[#0c0d18];
}
.day__name--l {
  @apply h-2.5 bg-[#26294b] rounded-full dark:bg-[#0c0d18] w-full mx-auto mb-6 mt-2;
}

.day__img--l {
  @apply mt-1 self-center flex items-center justify-center h-24 mb-auto w-full bg-[#26294b] rounded dark:bg-[#0c0d18];
}

.day__minmax {
  @apply h-2.5 bg-[#26294b] mb-2 rounded-full dark:bg-[#0c0d18] w-12;
}
/* Search result */
.result {
  @apply h-24 px-3 w-full flex justify-between items-center border border-transparent hover:border-secondary-text cursor-pointer duration-150;
}

.result:not(:last-child) {
  @apply mb-4;
}

.result-svg {
  @apply fill-secondary-text h-7 w-7 opacity-0 group-hover:opacity-100 duration-150;
}

/* Error component */
.error {
  @apply max-w-[40rem] py-20 px-16 mx-auto mt-20 flex;
}
.error svg {
  @apply h-12 w-12 fill-range-bg transform -translate-y-1;
}
.error p {
  @apply ml-6 text-[1.8rem] leading-[1.5] font-semibold;
}

/* Search component functionality  */
#search-open:checked ~ aside {
  @apply translate-x-full;
}

/* Custom CSS  */
.colorized {
  filter: brightness(0) saturate(100%) invert(12%) sepia(35%) saturate(802%)
    hue-rotate(195deg) brightness(98%) contrast(87%);
}

.input-w {
  width: calc(100% - 3rem);
}

#weather {
  /* background-color: ; */
}

.bg-video {
  position: absolute;
  top: 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(#000, 0.8),
      rgba(#000, 0.8)
    ),
    url(../img/nat-4.jpg);
  left: 0;
  height: 50%;
  width: 100%;
  /* z-index: -1; */
  opacity: 0.3;
  overflow: hidden;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Loading animation  */
.loader {
  width: 100px;
  --b: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%, #e7e7eb) content-box;
  mask: repeating-conic-gradient(#0000 0deg, #000 1deg 20deg, #0000 21deg 36deg),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - var(--b) - 1px),
      #000 calc(100% - var(--b))
    );
  -webkit-mask: repeating-conic-gradient(
      #0000 0deg,
      #000 1deg 20deg,
      #0000 21deg 36deg
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - var(--b) - 1px),
      #000 calc(100% - var(--b))
    );
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: l4 1s infinite steps(10);
}

@keyframes l4 {
  to {
    transform: rotate(1turn);
  }
}

/* Fade in Animation */
.fade-in-bottom {
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
    forwards;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
